{% extends "layout_user.html" %}
{% block content %}
    <h1>WandenderingWheels</h1><br>
    <h2> How it Works... </h2>
    <h4>
    	<p> 1. Pick a plan
			Select the membership plan that's best for you to get started. </p> <br>
		<p> 2. Verification
			We verify your driver license, which typically takes 1 business day but in some cases may take a bit longer.</p><br>
		<p> 3. Receive your Zipcard
			Once approved, get a Zipcard by mail in 3-7 days. Once you activate it, you’re ready to hit the road.</p><br>
	</h4>
    
{% endblock content %}