{% extends "layout.html" %}
{% block content %}
   <h1> Contact Details </h1>
   <pre>	
   	<h5>
   		Future Reservations
		1-800-654-3131  (US, Puerto Rico and Canada)                                              
		1-800-654-3001  (International)

		Gold Plus Rewards Questions 
		1-888-999-4900 (6am-7pm CT M-F)

		Car in the Shop? 
		1-800-704-4473 (US)

		Extend your rental
		www.WanderingWheels.com/rentalextension

		Change your return location 
		1-800-654-4174
		 
		A Past Rental-Billing Questions or Comments/Feedback 
		1-800-654-4173  (6am-7pm CT M-F)

		Emergency Roadside Assistance
		800-654-5060

		Hearing Impaired (TDD) 
		1-800-654-2280
	</h5>
	</pre>
		    
		{% endblock content %}